.card-container {
  margin: 25px 0;
}

.meetup-card {
  max-width: 400px;
  max-height: 500px;
}

.group-image {
  max-height: 250px;
  object-fit: cover;
}

mat-card-content {
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  background: -webkit-linear-gradient(#000000 75px, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.left-arrow {
  width: 25px;
  height: 30px;
}
