<div class="card-container" *ngFor="let item of nearbyMeetups">
  <mat-card class="meetup-card">
    <mat-card-header>
      <img [src]="item.organizer_photo" mat-card-avatar>
      <mat-card-title>{{ item.name }}</mat-card-title>
      <mat-card-subtitle>Organizer: {{ item.organizer_name }}</mat-card-subtitle>
    </mat-card-header>
    <img *ngIf="item.key_photo" class="group-image" mat-card-image [src]="item.key_photo" alt="Group Photo for {{ item.name }}">
    <mat-card-content>
      <div [innerHTML]="item.description"></div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
